extends layout
block scripts
  script(type="text/javascript", src="/gamelogic.js")  
block content
  h1= title
  - if (playerturn === 1)
    p#turnIndicator First persons turn
  - else if ( playerturn === 2)
    p#turnIndicator Second persons turn
  - else
    p#turnIndicator First to reach 5 in a row wins!
  div
    table#board(border="1")
      tbody
        each row in rows_list
          tr
            each cell in row.content
              td #{cell}
  form(method='POST' action="/rows/reset")
    button.btn.btn-primary(type='submit') Restart?